.contact{
    position:relative;
    top: 0px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.contactLeft{
    position: relative;
    left: 140px;
    width: 30%;
    height: 75%;
    background-color: #05527D;
    box-shadow: 3px 3px 4px 2px #00000040;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color:  #65C1F4;
    row-gap: 45px;
}
.cdiv{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center !important;
    justify-content: start;
    column-gap: 20px;
}
.cdiv p{
    margin: 0;
}
.cicon1{
    height: 60px;
    width: 34px;
    color:  #65C1F4;
}
.cicon2{
font-size: 60px;
}
.socialIcons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
     color:  #65C1F4;
     column-gap: 60px;
}
    .contactright{
        position: relative;
        z-index: 1;
        height: 85%;
        width: 45%;
        right: 140px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        color:  #65C1F4;
        box-shadow: 2px 2px 4px 1px #00000040;
        border-radius: 20px;


    } 
 .formDiv{
    display: flex;
   
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 80%;
    width: 50%;
 }
 .formDiv h1{
    margin: 0px;
    color: #05527D;
    font-size: 50px;
    font-weight: bold;
 }
.form{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 80%;
  
    flex-direction: column;
    row-gap: 10px;
}
.form .input{
    height: 50px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color:#D9D9D9;
    border: none;
    border-radius: 10px;
    padding-left: 10PX;
    outline: none;
}
.form .input2{
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color:#D9D9D9;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10PX;
    outline: none;
}
.form .submitbtn{
    height: 50px;
    width: 60%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 4px 0px #00000040;
    font-size: 20px;
    color: white;
    
    background-color: #035A80;
}
@media only screen and (min-width:1024px) and (max-width:1199px){
    .contact{
        position:relative;
        top: 0px;
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .contactLeft{
        position: relative;
        left: 70px;
        width: 35%;
        height: 70%;
        background-color: #05527D;
        box-shadow: 3px 3px 4px 2px #00000040;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        color:  #65C1F4;
        row-gap: 45px;
    }
    .contactright{
        position: relative;
        z-index: 1;
        height: 75%;
        width: 45%;
        right: 70px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        color:  #65C1F4;
        box-shadow: 2px 2px 4px 1px #00000040;
        border-radius: 20px;


    } 
    .formDiv{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 80%;
    width: 60%;
    }
    .formDiv h1{
        margin: 0px;
        color: #05527D;
        font-size: 40px;
        font-weight: bold;
     }
     .form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        flex-direction: column;
        row-gap: 10px;
        /* background-color: #057d1b; */
    }
     .form .input{
        height: 40px;
        width: 100%;
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color:#D9D9D9;
        border: none;
        border-radius: 10px;
        padding-left: 10PX;
        outline: none;
    }
}