.desktop-carsole{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("../assets/Group 115.png");
   
}
.carsole-body{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.desktop-carsole .swiper {
    width: 80%;
    height: 400px;
   
   
   
  }
  
  .desktop-carsole .swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 300px !important;
   
  }
  
  .desktop-carsole .swiper .swiper-slide img {
    display: block;
    width: 300px;
    height: 300px;
  }