.mobilecarsole{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top: 50px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("../assets/mobilecarsolebackground.png");
   
}
.swiper {
    width: 70%;
    height: 70vh;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 500px !important;
   
  }
  
  .swiper-slide img {
    display: block;
    width: 300px;
    height: 500px;
  }
  @media only screen and (min-width: 1024px) and   (max-width: 1199px){
    .mobilecarsole{
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      top: 50px;
      background-repeat: no-repeat; 
      background-size: cover;
      background-image: url("../assets/mobilecarsolebackground.png");
     
  }
  .swiper {
      width: 70%;
      height: 70vh;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px !important;
      height: 400px !important;
     
    }
    .swiper-slide img {
      display: block;
      width: 200px;
      height: 400px;
    }
  }
  @media only screen and (min-width: 1200px){
    .mobilecarsole{
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      top: 50px;
      background-repeat: no-repeat; 
      background-size: cover;
      background-image: url("../assets/mobilecarsolebackground.png");
     
  }
  .swiper {
      width: 70%;
      height: 70vh;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px !important;
      height: 400px !important;
     
    }
    .swiper-slide img {
      display: block;
      width: 200px;
      height: 400px;
    }
  }