.mobilecarsole{
  
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
    position: relative;
    flex-direction: column;
    top: 0px !important;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("../assets/mobilecarsolebackground.png");
   
}
.swiper {
    width: 70%;
    height: 70vh;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 500px !important;
   
  }
  
  .swiper-slide img {
    display: block;
    width: 300px;
    height: 500px;
  }
  @media only screen and (min-width: 1024px) and   (max-width: 1199px){
    .mobilecarsole{
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      top: 50px;
      background-repeat: no-repeat; 
      background-size: cover;
      background-image: url("../assets/mobilecarsolebackground.png");
     
  }
  /* .swiper {
      width: 70%;
      height: 70vh;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px !important;
      height: 400px !important;
     
    }
    .swiper-slide img {
      display: block;
      width: 200px;
      height: 400px;
    } */
  }
  @media only screen and (min-width: 1200px){
    .mobilecarsole{
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      top: 50px;
      background-repeat: no-repeat; 
      background-size: cover;
      background-image: url("../assets/mobilecarsolebackground.png");
     
  }
  /* .swiper {
      width: 70%;
      height: 70vh;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px !important;
      height: 400px !important;
     
    }
    .swiper-slide img {
      display: block;
      width: 200px;
      height: 400px;
    } */
  }

  .carosel-body{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    row-gap: 0px;
    position: relative;
    
  }
  .carosel-body .caroselSlide{
    flex: 0 0 20%;
    height: 60%;
   /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* transform: translateX(-50%); */
  }
  .carosel-body .caroselSlide-two{
    flex: 0 0 15%;
    height: 60%;
   /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* transform: translateX(-50%); */
  }
  .carosel-slide-none{
    display: none;
  }
  .caroselSlide .carosel-active-image{
    width: 220px;
    height: 110%;
   pointer-events: none;
   transition-duration: 0.1ms;
  }
  .caroselSlide .carosel-image{
    width: 180px;
    height: 90%;
   opacity: 0.5;
   transition-duration: 0.1ms;
  }
  .caroselSlide-two .carosel-image-two{
    width: 140px;
    height: 70%;
   opacity: 0.5;
   transition-duration: 0.1ms;
   
  }
  
  .carosel-container{
    width: 79%;
    height: 100%;
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
  }
  carosel-body .arrow-back{
    font-size: 3rem;
    color:  #103681;
    cursor: pointer;
    user-select: none;
  }
  .carosel-body .arrow-frount{
    font-size: 3rem;
    color:  #103681;
    cursor: pointer;
    user-select: none;
  }

  @media only screen and (min-device-pixel-ratio: 1.5),
  only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .caroselSlide .carosel-active-image{
      width: 230px;
      height: 120%;
     pointer-events: none;
    }
    .caroselSlide .carosel-image{
      width: 190px;
      height: 100%;
     
    }
    .caroselSlide .carosel-image-two{
      width: 150px;
      height: 80%;
     opacity: 0.5;
     transition-duration: 0.5;
     
    }
  }

  @media screen and (min-width:1400px) and (-webkit-min-device-pixel-ratio: 2) {
    .caroselSlide .carosel-active-image{
      width: 300px;
      height: 120%;
     pointer-events: none;
     
    }
    .caroselSlide .carosel-image{
      width: 250px;
      height: 100%;
    }
    .carosel-image-two{
      width: 200px !important;
      height: 80%;
     opacity: 0.5;
     transition-duration: 0.5;
     
    }
  }