.mobilecarsole{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    top: 500px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("../assets/mobilecarsolebackground.png");
   
}
.carsole-body{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.slider-div{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   overflow: hidden;
}
.img-div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 60px;
}

.img{
    height: 500px;
    width: 300px;
}
.swiper {
    width: 80%;
    height: 70vh;
    /* display: flex !important;
    align-items: center !important;
    justify-content: center !important; */
   
   
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 500px !important;
   
  }
  
  .swiper-slide img {
    display: block;
    width: 300px;
    height: 500px;
  }